body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 20px;
    font-family: "Fredoka One", sans-serif;
    width: 15%;
}

ul {
    margin: 0px;
    font-size: 2.0vw;
    align-items: center;
    justify-content: space-evenly;
}

body > header {
    background-color: turquoise;
    color: white;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 5px;
    border: 2px solid white;
    border-radius: 15%;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: turquoise;
}

img {
    border-radius: 100%;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div> li {
    margin-left: 12px;
}

#footer-ul > div > li > a {
text-decoration: none;
color: white;
}